*{
    margin:0px;
    padding:0px;
}
@font-face {
    font-family: nos;
    src: url(FONTS/ALGER.TTF);
}
body{
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    height: 86px;
    width: 1000px;
    border-radius: 40px;
    background-color: white;
    margin-top: 45px;
    /* align-items: center; */
    justify-content: center;
}
nav ul {
    display: flex;
    z-index: 1;
}
nav ul li {
    width: 100px;
    cursor: pointer;
    margin: 0px 40px;
    padding: 10px 20px ;
    list-style: none;
    z-index: 1;
}
nav ul li a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
nav ul li a .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    transform: translateY(-10px) rotate(0deg);
    z-index: 1;
    border: 10px solid white;
    transition: all 0.5s ease-in, border 500ms ease-in-out;
    /* transition: all 0.5s ease-in; */
    border-radius: 50%;
    height: 66px;
    width: 66px;
    background-color: white;
}
nav ul li:hover a .icon{
    transform: translateY(-50px);
    background:#29fd53;
    height: 66px;
    width: 66px;
    border: 10px solid black ;
}
nav ul li.active a .icon{
    transform: translateY(-50px);
    background:#29fd53;
    height: 66px;
    width: 66px;
    border: 10px solid black ;
    border-radius: 50%;
}
nav ul li a .icon img {
    position: relative;
    height: 45px;
    width: 45px;
}
nav ul li a .text{
    height: 25px;
    font-family: nos;
    font-weight: bolder;
    transform: translateY(-5px);
    font-size: 25px;
    opacity: 0;
    transition: 0.5s ease-in;
}
nav ul li:hover a .text{
    transform: translateY(-45px);
    opacity: 1;
}
nav ul li.active a .text{
    transform: translateY(-45px);
    opacity: 1;
}