*{
    margin : 0;
    padding: 0;
    color: white;
    background-color: #2a2a2a;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
}


.navbar{
    border-bottom: 1px solid rgba(255, 255, 255, 0.535);
    background-color: #1a1a1a;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 18.01vh;
    width: 100vw;
    z-index: 1;
}
.navbar .top{
    display: flex;
    padding: 16.5px 48px;
    flex-direction: row;
    align-items: center;
}
.navbar .top .con{
    margin: 0 10px;
}
.navbar .top #logo{
    height: 32px;
    width: 200px;
    border: 1px solid #1a1a1a;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5f/Coursera_logo_%282020%29.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar .top input{
    width: 280px;
    height: 30px;
    border-style: none;
    font-size:medium;
    outline: none;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    padding: 6px 20px;
}
.navbar .top input::placeholder{
    color: rgba(255, 255, 255, 0.535);
}
.navbar #nav{
    display: flex;
    padding: 0 48px;
    border-radius: 40px;
    gap: 20px;
}

.navbar #nav a {
    padding: 10px 12px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #1a1a1a;
    text-decoration: none;
    transition: all 0.5s ease-in, border 300ms ease-in-out;
}

.navbar #nav a:hover{
    border-bottom: 2px solid white;
    background-color: #2a2a2a;
}
.navbar #nav .active{
    border-bottom: 2px solid white;
    background-color: #2a2a2a;
}

.form{
    margin-top: 200px;
    box-shadow: 1px 25px 45px rgba(0, 0, 0, 0.746);
    border-radius: 20px;
    height: 37vh;
    width: 33vw;
    padding: 0px 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
}
form h1{
    padding:8px;
}
/* .form .ele{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

.form input{
    margin: 10px;
    width: 280px;
    height: 30px;
    border-style: none;
    font-size:medium;
    outline: none;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 4px 15px;
}

.form a{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    transition: all 100ms ease-in-out 0s;
    background-color: #2a2a2a;
    transform: scale(1.03);
    box-shadow: 1px 25px 45px rgba(0, 0, 0, 0.846);
}
.form a:hover{
    transform: scale(1);
    box-shadow: none;
    background-color: #1a1a1a;
}